/*
  Free to use CSS template by Hara (#325063).
  This code may be altered, edited, or re-uploaded.  
*/


/* FONT (From Google Fonts https://fonts.google.com/) */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); /* font-family: "OpenSans", Helvetica, Tahoma, Arial, sans-serif; */

/* CURSOR from https://www.cursors-4u.com */

* {cursor: url(https://cur.cursors-4u.net/games/gam-14/gam1394.cur), auto !important;}

/* CSS variables*/
:root {
	--pigmentation_big_text: #852A2AFF;
	--pigmentation_sall_text: #FF0000FF;
	--pigmentation_signature: #78FF56FF;
	--pigmentation_side_text: #00FF00FF;
	--pigmentation_progression: #0000FFFF;
	--pigmentation_goal: #FFFFFFFF;
	--pigmentation_box_background: #E3842F80;
	--pigmentation_box_body: #CC00FFFF;
	--pigmentation_link_hover: #FF00FFFF;
	--pigmentation_box_hover:#FFFF00FF;
	--pigmentation_button: #5A00C2FF;
	--pigmentation_button_hover: #00FF00FF;
	--pigmentation_alert_text: #A6FFF0FF;
	--pigmentation_alert_box: #FFFF00FF;
	--pigmentation_border: #1D212AFF;
	--pigmentation_scrollbar_track: #BBFF00FF;
	--pigmentation_scrollbar_thumb: #00FFDDFF;
	--pigmentation_chatbox_even: #00FF00FF;
	--pigmentation_chatbox_odd: #A6FFF0FF;
	--pigmentation_shadow_text: #00000000;
	--pigmentation_opacity: 1.0;
	--family_font_1: "OpenSans", Helvetica, Tahoma, Arial, sans-serif;
	--family_font_2: "OpenSans", Helvetica, Tahoma, Arial, sans-serif;
  }

/* BACKGROUND */

body {
	background: url('https://harakaza.github.io/Lioden_CSS/src/fancy-cushion.png');
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
	background-size: cover;
	font-family: var(--family_font_1);
	color: var(--pigmentation_big_text);
}


/* FEED ALL, PLAY ALL */

.feature {
	background: var(--pigmentation_box_body) !important;
	color: var(--pigmentation_3) !important;
	border: none !important;
	border-radius: 5px !important;
}


/* TOPBAR ("Welcome back, ___"), NAVBAR (Den/Crossroads/Etc.) */

.topbar {
	background: var(--pigmentation_box_body);
	border: none;
	border-top: none;
	color: var(--pigmentation_sall_text);
	border-radius: 5px;
	font-family: var(--family_font_1);
}

.navbar {
	background: var(--pigmentation_box_body);
	border-bottom: none;
	font-family: var(--family_font_2);
	color: var(--pigmentation_sall_text);
	border-radius: 5px;
}

.navbar li a {
	color: var(--pigmentation_big_text) !important;
}

/* NAVBAR HOVER COLOR */

.navbar li a:hover {
	background: var(--pigmentation_box_hover) !important;
}


/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: var(--pigmentation_box_background);
	border: none;
	box-shadow: none;
	border-radius: 5px;
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
}


/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: var(--pigmentation_box_body);
}

.breadcrumb .active {
	color: #6D717C;
}

.breadcrumb::after {
    content: "CSS by Hara Kaza [#313293]";
    color: var(--pigmentation_signature);
    position: absolute;
    right: 13%;
    z-index: 100;}


/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert {
	background: var(--pigmentation_box_body);
	border: none;
	color: var(--pigmentation_alert_text);
}

.alert-warning,
.alert-danger {
	background: var(--pigmentation_alert_box);
	color: var(--pigmentation_alert_text);
}


/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: var(--pigmentation_box_body);
	border: none;
}


/* ENERGY BARS, ACHIEVEMENTS, & BOOKMARKS */

.sidebar h3 {
	color: var(--pigmentation_big_text) !important;
	font-size: 20px;
}

/* SIDEBAR BOXES */

.panel {
	background: var(--pigmentation_box_body) !important;
	box-shadow: none !important;
	border: none !important;
	color: var(--pigmentation_side_text) !important;
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: var(--pigmentation_goal);
	color: var(--pigmentation_side_text) !important;
}

/* ENERGY BAR TEXT */
.progress div {
	color: var(--pigmentation_sall_text) !important;
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: var(--pigmentation_progression);
	color: var(--pigmentation_side_text) !important;
}


/* CHAT */
#chatMessagePinned.s-chat-message__pinned {
   	border: 1px !important;
	border-bottom: var(--pigmentation_border) 3px solid !important;
	border-bottom-color: var(--pigmentation_border) !important;
}

.s-chat-message:nth-child(even) {
	background: var(--pigmentation_chatbox_even) !important;
	border: 3px !important;
	border-bottom: var(--pigmentation_border) 1px solid !important;
	border-bottom-color: var(--pigmentation_border) !important;
}

.s-chat-message:nth-child(odd) {
	background: var(--pigmentation_chatbox_odd) !important;
	border: 3px !important;
	border-bottom: var(--pigmentation_border) 1px solid !important;
	border-bottom-color: var(--pigmentation_border) !important;
}

/* PINNED MESSAGE */
.s-chat-message__pinned {
	background: var(--pigmentation_chatbox_even) !important;
	color: var(--pigmentation_sall_text) !important;
	border: 3px !important;
	border-bottom: var(--pigmentation_border) 1px solid !important;
	border-bottom-color: var(--pigmentation_border) !important;
}

.s-chat-message_timestamp {
	color: var(--pigmentation_big_text) !important;
}

div#chatMessageContainer {
	border: none !important;
}

#context-chatMenu .chatMenu-option, #fraChatSettingsMenu .chatMenu-option {
    background: var(--pigmentation_chatbox_even);
    border: 0;
    color: var(--pigmentation_big_text);
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    width: 100%;
}

#context-chatMenu {
    background: var(--pigmentation_chatbox_even);
    border-radius: 4px;
    border: 1px solid var(--pigmentation_big_text);
    box-shadow: 1px 1px 2px var(--pigmentation_border);
    cursor: default;
    width: 140px;
    position: absolute;
    padding: 4px;
    z-index: 90000;
}

/* CURRENT CHANNEL TAB (MAIN, SALES, ETC.) */
button#label_currentChannel {
	border: none !important;
	background: var(--pigmentation_button) !important;
}


/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: var(--pigmentation_small_text);
	font-size: 72px;
	text-align: center;
}


/* MEDIUM HEADER */

h2 {
	color: var(--pigmentation_small_text);
	font-size: 24px;
	text-align: center;
}


/* SMALL HEADER */

h3 {
	color: var(--pigmentation_small_text) !important;
	font-size: 14px !important
}


/* LION INFO TABLE (Level, Stats, Branch, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */
.table {
	background: var(--pigmentation_box_body);
	border: none !important;
	border-collapse: separate;
	border-radius: 5px;
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */
.top,
.bottom,
th {
	background: var(--pigmentation_box_body) !important;
	color: var(--pigmentation_small_text) !important;
	border-radius: 5px;
}


/* Block of color where "Territory Description, Player Name, Avatar URL" etc. are */

.table .left {
	background: var(--pigmentation_box_body)
}

/* Affects the color behind your territory description, player name, etc. */



input,
select,
textarea {
	background: var(--pigmentation_button) !important;
	border: none !important;
	border-color: var(--pigmentation_border);
	border-radius: 5px;
	box-shadow: none !important;
	color: var(--pigmentation_side_text) !important;
	text-shadow: none !important;
}

.select-control,
button.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	background: var(--pigmentation_button) !important;
	color: var(--pigmentation_sall_text) !important;
	border: 1px solid var(--pigmentation_border);
	text-shadow: 1px 1px 0px var(--pigmentation_shadow_text);
	font-size: 13px;
	padding: 3px 12px;
	margin: 2px 0;
	border-radius: 3px;
}

.select-control:hover,
button.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background: var(--pigmentation_button_hover) !important;
	color: var(--pigmentation_big_text) !important;
	border: 1px solid var(--pigmentation_border);
	text-shadow: 1px 1px 0px var(--pigmentation_shadow_text);
	font-weight: bold;
	font-size: 13px;
	padding: 3px 12px;
	margin: 2px 0;
	border-radius: 3px;
}



/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: var(--pigmentation_box_body) !important;
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: var(--pigmentation_box_body)
}

/* IGNORE */
.right_odd {
	background: none !important;
}


/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: var(--pigmentation_box_body) !important;
	color: var(--pigmentation_small_text)  !important;
}

.item {
	background: var(--pigmentation_box_body) !important;
	border: none !important;
}


/* BEETLE MOUND TOPBAR (Where it says Beetle Training Grounds, Beetle Battling, etc.) */

.sub_menu {
	background: var(--pigmentation_box_body) !important;
}

.sub_menu_item_selected {
	background: var(--pigmentation_box_body) !important;
}


/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", etc. and cave/mound names */

.cave-grid,
.mound-grid {
	background: var(--pigmentation_box_body);
	border: none !important;
}


/* LINKS & LINK HOVER COLOR */

a:link,
a:visited {
	color: var(--pigmentation_small_text) !important;
	transition: 0.5s !important;
	text-shadow: 0px 0px 8px var(--pigmentation_shadow_text);
}

a:hover {
	color: var(--pigmentation_link_hover) !important;
}


.text-muted {
    color: var(--pigmentation_sall_text);
}

/* BOXES (Copy paste to add more or less) */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	display: flex;
	justify-content: center
}

.Box1 {
	float: none;
	background: var(--pigmentation_box_body);
	color: var(--pigmentation_small_text);
	padding: 15px;
	border: none;
	border-radius: 5px;
	margin: 5px;
	height: 100%;
	width: 90%;
	overflow: hidden;
	margin-bottom: 25px;
	opacity: 0.5;
	transition: 1s /* HOW FAST HOVER BOX EXPANDS TO FULL SIZE */7
}

/* HOVER BOX (SIZE WHEN HOVERING OVER)
.Box1:hover {
	overflow-y: auto;
}
*/

.Box2 {
	float: none;
	background: var(--pigmentation_box_body);
	color: var(--pigmentation_small_text);
	padding: 15px;
	border: none;
	border-radius: 5px;
	margin: 5px;
	height: 100%;
	width: 90%;
	overflow: hidden;
	margin-bottom: 25px;
	opacity: 0.5;
	transition: 1s /* HOW FAST HOVER BOX EXPANDS TO FULL SIZE */
}

/* HOVER BOX (SIZE WHEN HOVERING OVER) 
.Box2:hover {
	overflow-y: auto;
}
*/

/* SCROLL BAR */

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}


/* SCROLL BAR BACKGROUND */

::-webkit-scrollbar-track {
	background: var(--pigmentation_scrollbar_track);
}


/* SCROLL BAR "THUMB" */

::-webkit-scrollbar-thumb {
	background: var(--pigmentation_scrollbar_thumb);
	border-radius: 4px;
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: var(--pigmentation_opacity);
}

table#player img {
	opacity: var(--pigmentation_opacity);
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 19px;
	margin-left: 6px;
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden;
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://github.com/HaraKaza/Lioden_CSS/blob/main/logo-full-Custom.png?raw=true');
}


/* PREGNANT LIONESSES 

div.cave-grid>img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/PerseidStormBG.png')!important;
	height: 70px;
}


/* CAVES (Copy paste to add more) 

a[href$="CAVE ID HERE"]>div.cave-grid>img {
	content: url('IMAGE URL HERE')!important;
}


/* UNSORTED 

a[href$="unsorted.php?id=USERID"]>div.cave-grid>img {
	content: url('IMAGE URL HERE')!important;
}


/* PRIDE OVERVIEW

a[href$="lionoverview.php?id=USERID"]>div.cave-grid>img {
	content: url('IMAGE URL HERE')!important;
}


 MOUNDS

.mound-grid img {
	background: url('https://static.lioden.com/images/dynamic/backgrounds/PerseidStormBG.png');
	width: 0;
	height: 0;
	padding-top: 80px;
	padding-right: 130px;
}
.credit {
	background: #1f4529;
	color: white;
	padding: 5px;
	border: 1px solid var(--pigmentation_border);
	position: fixed;
	text-align: center;
	border-radius: 10px;
	left: 0px;
	bottom: 0px;
	width: 180px;
	height: 45px;
	overflow: auto;
}
.member-online {
    background: #6D717C;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
}
*/